


    <div>

        @using (Html.BeginForm("AddDefect", "DefectManagment"))
        {


            <div class="row" style="width:90%;margin:0 auto; padding:5px;">


                <form class="form-inline">
                    <input id="selectedStudent" list="search-report" class="form-control col-md-2" placeholder="نام و نام خانوادگی">
                    <datalist id="search-report">

                        @foreach (var item in ViewBag.students)
                        {
                            <option value="@item.Id">@item.FirstName @item.LastName @item.Class</option>
                        }


                    </datalist>

                    <input id="defectType" list="defectTypes" class="form-control col-md-1" placeholder="نوع">
                    <datalist id="defectTypes">

                            <option value="انضباطی">انضباطی</option>
                            <option value="علمی">علمی</option>
                            <option value="اطلاعیه">اطلاعیه</option>
                    </datalist>

                    <input id="defectDescription" class="form-control col-md-3" placeholder="توضیحات">
                    <input id="defectDate" class="form-control col-md-1" placeholder="تاریخ">

                    <input type="button" class="btn btn-success" value="ثبت" onclick="sendJsonDataForDefect();">



                </form>
            </div> 





        }

</div>



<div style="position:absolute;bottom:70px">
    @Html.ActionLink("بازگشت به پنل کاربری", "Index", "Home")
</div>


