<!DOCTYPE html>
<html style="direction: rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <link href="~/Content/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/custome.css" />
    <link rel="stylesheet" href="~/Content/site.css" />
    <link rel="stylesheet" media="print" href="~/Content/print.css">


</head>
<body>
    <header>
        <nav class="dont-print navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item" onClick="ul(0)">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">پنل کاربری</a>
                        </li>
                        <li class="nav-item" onClick="ul(1)">
                            <a class="nav-link" href="@Url.Action("Index", "Report")">گزارش گیری</a>
                        </li>
                        <li class="nav-item" onClick="ul(2)">
                            <a class="nav-link" href="@Url.Action("Index", "Edit")">ویرایش</a>
                        </li>
                        <li class="nav-item" onClick="ul(3)">
                            <a class="nav-link" href="@Url.Action("ExportToExcel", "Home")">خروجی اکسل</a>
                        </li>

                        <div class="underline"></div>
                        <div class="underline"></div>
                        <div class="underline"></div>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="dont-print border-top footer text-muted text-center">
        <div class="container">
            طراحی شده توسط <a href="#">سبحان کناری </a>
        </div>
    </footer>

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/Chart.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/site.js" asp-append-version="true"></script>




</body>
</html>

