@model noor7.Models.Defect
@{
    ViewData["Title"] = "افزودن نقص";
}

@using (Html.BeginForm())
{
    <form>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="name">شناسه دانش آموز : </label>
                <br />
                <input list="encodings" value="" class="col-sm-4 custom-select custom-select-sm" style="width:150px !important;">
                
                @Html.DropDownListFor(x => x.StudentID, new SelectList(ViewBag.student, "Id", "LastName"),new { @class ="form-control" })

            </div>

            <div class="form-group col-md-2">
                <label for="name">نوع نقص : </label>
                @Html.EnumDropDownListFor(x => x.Type, new
                {
                    @class = "form-control"
                })
            </div>
            <div class="form-group col-md-4">
                <label for="name">توضیحات : </label>
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
            </div>

            <div class="form-group col-md-2">
                <label for="name">تاریخ : </label>
                @Html.TextBoxFor(x => x.DefaceDate, new { @class = "form-control" })
            </div>

        </div>

        <button type="submit" class="btn btn-primary">ثبت</button>
    </form>
}

<div style="position:absolute;bottom:70px">
    @Html.ActionLink("بازگشت به پنل کاربری", "Index")
</div>


