@model noor7.Models.Defect
@{
    ViewData["Title"] = "افزودن نقص";
}

@using (Html.BeginForm())
{
    <form>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="name">شناسه دانش آموز : </label>
                <br />


                @try
                {
                    @Html.DropDownListFor(m => m.StudentID, ViewBag.student as IEnumerable<SelectListItem>, new { @class = "form-control" })
                }
                catch (Exception ex)
                {

                }


            </div>

            <div class="form-group col-md-2">
                <label for="name">نوع نقص : </label>
                @Html.EnumDropDownListFor(m => m.Type, new
                {
                    @class = "form-control"
                })
            </div>
            <div class="form-group col-md-4">
                <label for="name">توضیحات : </label>
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            </div>

            <div class="form-group col-md-2">
                <label for="name">تاریخ : </label>
                @Html.TextBoxFor(m => m.DefaceDate, new { @class = "form-control" })
            </div>

        </div>

        <button type="submit" class="btn btn-primary" onclick="getStudentId()">ثبت</button>
    </form>
}

<div style="position:absolute;bottom:70px">
    @Html.ActionLink("بازگشت به پنل کاربری", "Index")
</div>


