@{
    ViewData["Title"] = "پنل کاربری";
}


<div class="panel-tiles row">
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/student.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    دانش آموز
                </h5>
                <button class="btn btn-light">
                    @Html.ActionLink("افزودن کاربر جدید",
"AddStudent")
                </button>
                
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/course.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    درس
                </h5>
                <button class="btn btn-light">
                    @Html.ActionLink("افزودن درس جدید",
"AddCourse")
                </button>
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/notebook.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    دفترچه راهنما
                </h5>
                @using (Html.BeginForm("Index", "NotebookManagment"))
                {
                    <form>

                        <input type="text" name="className" placeholder="کلاس" />
                        <input type="text" name="notebookDate" placeholder="تاریخ" />
                        <input type="text" name="numberOfDays" placeholder="تعداد روزهای هفته" />
                        <input type="submit" name="ایجاد دفترچه" />

                    </form>
                }
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/absent.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    غیبت
                </h5>
                <button class="btn btn-light">
                    @Html.ActionLink("ثبت غیبت",
"AddAbsent")
                </button>
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/late.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    تاخیر
                </h5>
                <button class="btn btn-light">
                    @Html.ActionLink("افزودن درس جدید",
"AddCourse")
                </button>
            </div>
        </div>
    </div>
</div>
<div class="panel-tiles row">
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/exam.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    امتحان
                </h5>
                @using (Html.BeginForm("Index", "ExamManagment"))
                {
                    <form>

                        <input type="text" name="course" placeholder="نام درس" />

                        <input type="text" name="finalGrade" placeholder="بارم" />

                        <input type="text" name="examtype" placeholder="نوع امتحان" />

                        <input type="text" name="className" placeholder="کلاس" />

                        <input type="text" name="examDate" placeholder="تاریخ" />

                        <input type="submit" name="ایجاد امتحان" />

                    </form>
                }
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/defact.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    نقص
                </h5>
                <button class="btn btn-light">
                    @Html.ActionLink("افزودن نقص جدید",
"AddDefact")
                </button>
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/practice.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    تکلیف
                </h5>
                

                @using (Html.BeginForm("Index", "PracticeManagment"))
                {
                    <form>
                        
                            <input type="text" name="course" placeholder="نام درس"/>
                            
                            <input type="text" name="parcticeValue" placeholder="نعداد" />
                            
                            <input type="text" name="className" placeholder="کلاس" />
                          
                            <input type="text" name="pDate" placeholder="تاریخ" />
                           
                            <input type="submit" name="create" />
                        
                    </form>
                }
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/speak.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    گفتگو
                </h5>
                <button class="btn btn-light">
                    @Html.ActionLink("افزودن درس جدید",
"AddCourse")
                </button>
            </div>
        </div>
    </div>
    <div class="tile col-md-2 flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/Content/setting.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
                <h5 class="text-center">
                    تنظیمات
                </h5>
                <button class="btn btn-light">
                    @Html.ActionLink("افزودن درس جدید",
"AddCourse")
                </button>
            </div>
        </div>
    </div>
</div>
