@using (Html.BeginForm("AddStudent", "StudentManagment"))
{
    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="name">نام : </label>
                <input type="text" name="firstName" />
            </div>
            <div class="form-group col-md-4">
                <label for="family">نام خانوادگی : </label>
                <input type="text" name="lastName" />
            </div>
            <div class="form-group col-md-4">
                <label for="family">نام پدر : </label>
                <input type="text" name="fatherName" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="family">ورودی : </label>
                <input type="text" name="inSchoolFrom" />
            </div>
            <div class="form-group col-md-3">
                <label for="family">کلاس : </label>
                <input type="text" name="classType" />
            </div>
            <div class="form-group col-md-3">
                <label for="family">کدملی : </label>
                <input type="text" name="nationalCode" />
            </div>
            <div class="form-group col-md-3">
                <label for="family">شماره لیست کلاسی : </label>
                <input type="text" name="classListNumber" />
            </div>
        </div>
        <input type="submit" value="insert" />
    </form>
}

<hr />

<div class="row" style="width:90%;margin:0 auto; padding:5px;">

    <form class="form-inline">
        <input id="selectedStudent" list="search-report" class="form-control col-md-2" placeholder="نام و نام خانوادگی">
        <datalist id="search-report">

            @foreach (var item in ViewBag.students)
            {
                <option value="@item.Id">@item.FirstName @item.LastName @item.Class</option>
            }


        </datalist>

        <input type="button" class="btn btn-success" value="حذف دانش آموز" onclick="removeStudentAndAllData();">

    </form>
</div>

<div style="position:absolute;bottom:70px">
    @Html.ActionLink("بازگشت به پنل کاربری", "Index", "Home")
</div>


